.editor-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 10px);
}
.editor-wrapper .button-format {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.45s ease-in-out;
  border-radius: 7px;
}

.editor-wrapper:hover .button-format {
  opacity: 1;
}
